*
{
margin:0;
padding:0;
}

header
{
background-image:url(bg1.png);
height:100vh;
background-size:cover;
background-position:center;
}

.head-nav
{
float:right;
list-style:none;
margin-top:30px;
}

.head-nav li
{
display:inline-block;
}

.head-nav li a
{
color:white;
text-decoration:none;
padding:5px 20px;

font-size:15px;

}

.head-nav li.active a
{
border:1px solid white;
}
.head-nav li a:hover
{
border:1px solid white;
}
.logo img
{
width:150px;
height:auto;
float:left;
}
.row
{
max-width:1200px;
margin:auto;
}
.hero
{
width:1200px;
margin-left:0px;
margin-top:0px;

}
h1
{
color:white;
position:absolute;
text-transform:uppercase;
font-size:70px;
text-align:center;
margin-top:230px;
margin-left:270px;
}
p
{
position:absolute;
color:white;
font-size:17px;
text-align:center;
margin-top:300px;
margin-left:400px;
}

